
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.header{
    font-size: 55px;
    font-weight: 700;
    text-align:center ;
    color: #fff;
}
.factcontainer{
    padding: 20px;
    background-color: #fff;
    width: 600px;
    height: auto;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fact{
    font-size: 25px;
    font-size: 600;
    text-align: center;
    color: black;
}
.container button{
    height: 40px;
    width: 100px;
    border-radius: 40px;
    background-color: #92acbb;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }

  @media (max-width:990px){
    .header{
        font-size: 50px;
    }
    .fact{
        font-size: 22px;
    }
  }
  @media (max-width:720px){
    .header{
        font-size: 40px;
    }
    .fact{
        font-size: 20px;
    }
    .factcontainer{
        padding: 18px;
       
        width: 500px;
        height: auto;
        
    }
  }
  @media (max-width:420px){
    .home{
        overflow-y: hidden;
    }
    .header{
        font-size: 30px;
    }
    .fact{
        font-size: 15px;
    }
    .factcontainer{
        padding: 15px;
       
        width: 300px;
        height: auto;
        
    }
  }


